Source: libset-object-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2), libtest-simple-perl
Build-Depends-Indep: perl (>= 5.6)
Maintainer: Sam Vilain <sam@vilain.net>
Standards-Version: 3.6.1

Package: libset-object-perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}, 
Description:  set of objects and strings
 This modules implements a set of objects, that is, an unordered
 collection of objects without duplication.
 .
 The term objects is applied loosely - for the sake of
 Set::Object, anything that is a reference is considered an object.
 .
 Set::Object 1.09 and later includes support for inserting scalars,
 compatible with (most of) the Set::Scalar API.
 .
 This description was automagically extracted from the module by dh-make-perl.
