Source: libset-object-perl
Section: interpreters
Priority: optional
Build-Depends: debhelper (>= 3.0.5), perl (>= 5.6.0-17)
Maintainer: Sam Vilain <sv@snowcra.sh>
Standards-Version: 3.5.1

Package: libset-object-perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}
Description:  set of objects
 This modules implements a set of objects, that is, an unordered
 collection of objects without duplication.
